* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: linear-gradient(to bottom, #1e1e2e, #181825);
    color: #cdd6f4;
}

window#waybar * {
    color: #cdd6f4;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    color: #a6adc8;
    padding: 0 6px;
}

#workspaces button.active {
    color: #ffffff;
    font-weight: bold;
}

#clock {
    margin-left: 16px;
}

#cpu,
#memory,
#network,
#backlight,
#pulseaudio,
#battery {
    padding: 0 10px;
}

#battery {
    padding-right: 14px;
}